.splide__slide.grid {
  padding: 10px 15px !important;
}

.splide__slide.grid img {
  width: 180px;
  height: auto;
}

.splide__track.grid {
  padding-top: 20px ;
  padding-bottom: 20px;
}

.splide__slide ul {
  box-shadow: 0px 2px 11px 14px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 2px 11px 14px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 2px 11px 14px rgba(0, 0, 0, 0.1);
  margin: 0px 0px 3rem !important;
}

.logo-slider.logo-slider li {
  padding: 0 1rem !important;
}