.team {
  overflow: hidden;
  position: relative;
}

.team .container {
  position: relative;
  z-index: 1;
}

.team .grid {
  margin-top: 48px;
}

.editor-styles-wrapper .team .grid {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(2, 1fr);
}

.team-member {
  background-color: var(--earth);
  padding: 24px;
  margin-bottom: 24px;
}
.grid-sizer,
.team-member {
  width: calc(50% - 12px);
  @media (max-width: 991px) {
    width: 100%;
  }
}

.editor-styles-wrapper .grid-sizer {
  display: none;
}

.editor-styles-wrapper .team-member {
  width: auto;
}

.team-member--meta {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: stretch(24px, 44px);
}

.team-member--meta p {
  font-size: 16px;
  line-height: 24px;
  max-width: 24ch;
}

.team-member--image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}
.team-member--image img {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

.team-member--bio {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.team-member.active .team-member--bio {
  display: block;
}

button.team-member--button {
  border: 0;
  padding: 0;
  background: transparent;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 27px;
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: 500;
}
.team-member.active button.team-member--button svg {
  transform: rotate(180deg);
}

.team-member .blueprint--button {
  display: none;
}
.team-member.active .blueprint--button {
  display: inline-flex;
}

/** team two css */
.position-teams {
  display: flex;
  gap: 1em;
  align-items: center;
  justify-content: start;
  margin-top: 3em;
}

.position-teams p {
  margin-top: 0em;
  cursor: pointer;
}

.img-content {
  position: relative;
  height: 100%;
  width: 100%;
}

.image-teams {
  position: relative;
  aspect-ratio: 1 / 1;
  width: 100%;
  height: 100%;
  background-color: #2b2b2b;
  z-index: 10;
}

.block-teams {
  position: relative;
}

.front-content {
  position: absolute;
  bottom: 0;
  z-index: -1000;
  background-color: rgba(250, 250, 240, 0.6);
  width: 100%;
  padding: .5em;
  opacity: 0;
  transition: all 0.3s ease;
}

.front-content.active,
.front-content.clicked {
  opacity: 1;
  z-index: 1000;
  transition: all 0.3s ease;
}

.front-content p,
.head-detail-content p{
  margin-top: .4em;
  line-height: normal;
  font-size: .8em;
}

.front-content p:first-child {
  margin-top: 0em;
  font-size: 1em;
}

.title-team,
.view-btn p:first-child {
  font-size: .8em !important;
  margin-top: .4em;
}

.detail-content {
  display: none;
  transition: all 0.3s ease;
}

.list-teams {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1em;
  margin-top: 3em;
  position: relative;
  @media (max-width: 991px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (max-width: 767px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media (max-width: 524px) {
    grid-template-columns: repeat(1, 1fr);
  }
}

.detail-content.active {
  display: block;
  position: absolute;
  top: 0;
  background: #f0f0f0;
  z-index: 10000;
  left: 36px;
  width: 90vw;
  height: 90vh;
  margin-left: auto;
  margin-top: 2.5em;
  padding: 1.5em 1.5em 2.5em 1.5em;
  overflow: scroll;
  transition: all 0.3s ease;
}

.team-item.hide {
  display: none;
}