:root {
	--white: #fff;
	--black: #000;
	--atomicYellow: #dcff3c;
	--plum: #321432;
	--aluminium: #c8d2d2;
	--earth: #fafaf0;

	--blue: #008cff;
	--purple: #a54cff;
	--red: #e6284b;
	--orange: #ff8700;
	--green: #00dc00;
}
