.footer-nav ul {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
	gap: stretch(0px, 70px);
	@media (max-width: 767px) {
		flex-direction: column;
		gap: 20px;
	}
}
.footer-nav li {
	margin: 0;
	font-size: 16px;
}

.footer-nav a {
	color: var(--earth);
	text-decoration: none;
}
