/*the container must be positioned relative:*/
.custom-select {
  position: relative;
}

.custom-select select {
  display: none;
  /*hide original SELECT element:*/
}

.select-selected {
  background-color: var(--earth);
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 45%;
  right: 1.2rem;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-color: var(--plum) transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--plum) transparent;
  top: 30%;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: var(--plum);
  padding: 1rem 3rem 1rem 2rem;
  border: 1px solid transparent;
  /* border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent; */
  cursor: pointer;
  user-select: none;
  width: max-content;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
}

.select-selected {
  border-radius: 1000px;
}

/*style items (options):*/
.select-items {
  position: absolute;
  background-color: var(--earth);
  top: 120%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 1rem;
  min-width: max-content;
  height: 190px;
  overflow: scroll;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div {
  padding: 0.5rem 2.5rem;
  width: 100%;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.bar-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.button-continue {
  padding: 1rem 1rem 1rem 1rem;
  width: max-content;
  height: 4rem;
  font-size: 1rem;
  background-color: var(--atomicYellow);
}

.button-continue:hover {
  border: 1px solid var(--earth);
}

.submit-button {
  background: none;
  border: none;
}

.button-container {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.region-bar {
  min-height: 10rem;
  background-color: var(--plum);
  position: absolute;
  top: 0;
  z-index: 90010;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0rem;
  transition: all ease-in-out 0.3s;
}

.region-bar.close-bar {
  top: -1000%;
  transition: all ease-in-out 0.3s;
}

.title-and-icon {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  justify-content: start;
}

.title-content--bar {
  font-size: 1.4rem;
  color: var(--atomicYellow);
  margin: 0rem;
  font-weight: 600;
  text-align: start;
}

.description-banner a,
.description-banner p {
  font-size: 1.2rem;
  color: var(--earth);
  margin: 0rem;
}

.title-and-icon svg path {
  fill: var(--atomicYellow);
}

.description-banner {
  margin-top: 1.4rem;
}

.close-button {
  padding: 0.5rem;
  border: 1px solid var(--earth);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  cursor: pointer;
}

.close-button--at-mobile {
  padding: 0.5rem;
  border: 1px solid var(--earth);
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 1000px;
  cursor: pointer;
  right: 2rem;
  position: absolute;
  top: 1.5rem;
}

.close-button svg,
.close-button--at-mobile svg {
  width: 0.8rem;
  height: 0.8rem;
  fill: var(--earth);
}

.close-button svg path,
.close-button--at-mobile svg path {
  fill: var(--earth);
  stroke: var(--earth);
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .select-items div,
  .select-selected {
    padding: 0.5rem 2.5rem 0.5rem 1rem;
  }
  .select-selected:after {
    right: 0.8rem;
  }
  .button-container {
    gap: 1rem;
  }
  .button-continue {
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .bar-container {
    display: flex;
    flex-direction: column;
  }
  .title-content--bar {
    font-size: 1rem;
  }
  .description-banner a,
  .description-banner p {
    font-size: 0.8rem;
  }
  .select-selected {
    font-size: 1rem;
    padding: 1rem 2rem !important;
    border-radius: 40px;
    height: 4rem;
  }
  .select-selected:after {
    right: 0.8rem;
    border: 6px solid transparent;
    position: absolute;
    content: "";
    top: 45%;
    width: 0;
    height: 0;
    border-color: var(--plum) transparent transparent transparent;
  }

  .button-continue {
    padding: 1rem 1rem 1rem 1rem !important;
    width: max-content;
    height: 3rem;
    font-size: 1rem;
  }

  .title-and-icon svg {
    width: 1.2rem;
  }

  .close-button {
    display: none !important;
  }

  .close-button--at-mobile {
    display: flex !important;
  }

  .region-bar {
    padding: 5rem 0rem 2rem 0rem !important;
  }
}
